extends layout
block style
	style.
		.card .card-header:first-child, .card-light .card-header:first-child {
			border-radius : 0px;
		}
		.card-pricing.card-pricing-focus {
			padding : 40px 5px;
		}
		.card-pricing .card-header {
			border-bottom : 0!important;
		}
		.card-pricing {
			border-radius : 5px;
			text-align : center;
		}
		.card-primary {
			background : #1572e8!important;
			color : #fff!important;
		}
block content
	main
		.container
			.d-md-flex.justify-content-between.align-items-center.py-3
				.mb-1.mb-md-0
					h1.h4.mb-0 Coming Soon