extends layout
block content
	main#content
		.container
			.d-md-flex.justify-content-between.align-items-center.py-3
				.mb-1.mb-md-0
					h1.h4.mb-0 Heroes
			.row
				.col-md-12.col-xs-12.col-sm-12
					.card
						.card-body(style="padding: 5px")
							.table-responsive
								table.table.table-hover.display#tableHeroes(width="100%" cellspacing="0")
									thead.thead-light
										tr
											th ID
											th Gen
											th Lvl
											th Rarity
											th Class
											th Profession
											th Quest
											th Sum Left
											th Stam
											th XP
											th Stam Full At
									tbody

block script
	script.
		var tableHeroes;

		$(function (){
			tableHeroes = $('#tableHeroes').DataTable({
				serverSide: false,
				"pageLength":  10,
				searching : false,
				"autoWidth" : true,
				fixedColumns: true,
				responsive: true,
				lengthChange: false,
				ajax : `/hero/list/dataTable`,
				columns : [
					{
						"data" : "id",
					},{
						"data" : "generation",
					},{
						"data" : "level",
					},{
						"data" : "rarity",
					},{
						"data" : "mainClass",
					},{
						"data" : "profession"
					},{
						"data" : "currentQuest"
					},{
						"data": "summonLeft"
					},{
						"data": "stamina"
					},{
						"data": "xp"
					},{
						"data": "staminaFullAt"
					}
				],
			});
		});