doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Defi Kingdoms - Report All History
        script(src="/js/plugin/webfont/webfont.min.js")
        script.
            WebFont.load({
                google: {"families":["Lato:300,400,700,900"]},
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/css/fonts.min.css']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        //- link(rel="stylesheet", href="/css/bootstrap.min.css")
        //- link(rel="stylesheet", href="/css/atlantis2.css")
        link(rel="stylesheet", href="/css/themes.min.css")
        style.
            .main-header .nav-bottom .page-navigation.page-navigation-info > .nav-item > .nav-link .link-icon {
                color: #0EAC51
            }
            a {
                color: #E67E22
            }
            body {
                background-color: #f8f9fa!important
            }
            .push {
                margin-bottom: 10em;
            }
            .dropdown-toggle:after {
                content : ""!important;
            }
        block style
    body
        div.wrapper(style="min-height: 100vh;")
            header#header.u-header
                .u-header__section
                    #logoAndNav.container
                        nav.js-mega-menu.navbar.navbar-expand-md.u-header__navbar.u-header__navbar--no-space.hs-menu-initialized.hs-menu-horizontal
                            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation")
                                span(class="navbar-toggler-icon")
                                    i(class = "fas fa-align-justify" style = 'color : #F39C12;')
                           
                            .w-lg-auto
                                a.navbar-brand.pt-md-0(href="/" aria-label="DFKScan")
                                    img(src="https://defikingdoms.com/img/defi-kingdoms-logo.png" alt="navbar brand" width="160px")#logo-header
                            div
                            .d-flex.flex-column.w-100
                                #navBar.collapse.navbar-collapse.u-header__navbar-collapse.order-md-2
                                    ul.navbar-nav.u-header__navbar-nav.px-2.px-md-0
                                        li.nav-item.u-header__nav-item(data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut")
                                            a.nav-link.u-header__nav-link(href="/") Home
                                        li.nav-item.u-header__nav-item(data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut")
                                            a.nav-link.u-header__nav-link(href="/token/list") Tokens
                                        li.nav-item.u-header__nav-item(data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut")
                                            a.nav-link.u-header__nav-link(href="/hero/list") Heroes
                                        li.nav-item.dropdown.u-header__nav-item(data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut")
                                            a.dropdown-toggle.nav-link.u-header__nav-link#navbarDropdownMenuLink(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Transactions 
                                                i(class = 'fas fa-caret-down')
                                            div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                                                a(class="dropdown-item" href="/trx") All Txn
                                                a(class="dropdown-item" href="/trx/quest") Quest
                                                a(class="dropdown-item" href="/trx/router") Trader
                                                a(class="dropdown-item" href="/trx/garden") Garden
                                                a(class="dropdown-item" href="/trx/auction") Tavern
                                                a(class="dropdown-item" href="/trx/bank") Bank
                                                a(class="dropdown-item" href="/trx/jewel") Jewel

            block middleContent
            block content
        .push
        footer.bg-dark.py-4(style="background-image: url('https://defikingdoms.com/img/defi-kingdoms-bg.png');")
            .container
                .row.justify-content-sm-between.align-items-center
                    .col-sm-12.mb-3.mb-sm-0
                        .d-flex.align-items-center
                            img(src="https://assets.coingecko.com/coins/images/18570/small/fAisLIV.png?1632449282", alt="Icon Jewel" width="25")
                            span.h5.text-white.mb-0.ml-3 DeFi Kingdom Harmony Chain
                        hr.opacity-md
                        .row.justify-content-between.align-items-center.font-size-1
                            .col-md-12.mb-2.mb-md-0.d-flex
                                p.mb-0.text-white DFKScan &copy; 2021
                                    span.mx-1 |
                                    | Built by Community and Reference From 
                                    a(href="https://etherscan.io") Etherscan

        script(src="/js/core/jquery.3.2.1.min.js")
        script(src="/js/core/popper.min.js")
        script(src="/js/core/bootstrap.min.js")
        script(src="/js/currency.js")
        script(src="/js/plugin/jquery.sparkline/jquery.sparkline.min.js")
        script(src="/bower_components/datatables.net/js/jquery.dataTables.min.js")
        script(src='/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js')
        script(src='/bower_components/datatables.net-buttons/js/buttons.print.min.js')
        script(src='/bower_components/datatables.net-buttons/js/buttons.html5.min.js')
        script(src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js")
        script(src="/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js")
        script(src="/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js")
        block script