extends layout
block content
	div.container
		div.row
			div.col-lg-6
				.card
					.card-header
						.card-title Overview
					.card-body
						div(class = 'row align-items-center')
							div(class = 'col-md-3 mb-1 mb-md-0') Address:
							div.col-md-9
								span(style = 'cursor: pointer; text-decoration: none; font-size : 12px; color : rgb(0, 174, 233)') #{address}
						hr
						div(class = 'row align-items-center')
							div(class = 'col-md-3 mb-1 mb-md-0') Balance:
							div.col-md-9 
								b #{balance}
						hr
		br
		div.row
			div.col-lg-12
				.card
					.card-body